# App Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=si_akoor
DB_PORT=5432
DATABASE_URL=postgres://postgres:postgres@localhost:5432/si_akoor
